# Supabase project info
SUPABASE_URL=  "YOUR SUPABASE URL"                                
SUPABASE_ANON_KEY= "YOUR SUPABASE ANON_KEY"                                  
SUPABASE_SERVICE_KEY= "YOUR SUPABASE SERVICE_KEY"                                   
SUPABASE_JWT_SECRET=  "YOUR SUPABASE JWT_SECRET" 


# Database
DATABASE_URL=
DATABASE_PASSWORD=  